:root {
  --beige: #f7f1e8;
  --marron: #4e2c2a;
  --crema: #f7f1e8;
  --blanco: #ffffff;
  --sombra: rgba(0, 0, 0, 0.1);
  --transicion: all 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(180deg, var(--beige) 50%, var(--blanco) 70%);
  color: var(--marron);
  line-height: 1.6;
  min-height: 100vh;
}


.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.logo {
  max-width: 100%;
  height: auto;
  width: 600px; /* Ajustable según necesidad */
}

.cart-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff8fa3;
  color: white;
  padding: 15px;
  border-radius: 50%;
  font-size: 1.5rem;
  z-index: 1000;
  text-decoration: none;
  box-shadow: 0 4px 8px var(--sombra);
}
.cart-button:hover{
  background-color: #4e2c2a;
}

.cart-count {
  background-color: white;
  color: #ff8fa3;
  font-size: 0.8rem;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 6px;
}
.btn-regresar {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  transition: var(--transicion);
  box-shadow: 0 4px 10px var(--sombra);
  margin-bottom: 20px;
 
}


.btn-regresar:hover {
  background-color: #ff8fa3;
  color: #fff;
}

.btn-ver-productos {
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}
.btn-ver-productos:hover {
  background-color: #ff8fa3;
}

.cart-img-small {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-item-row.thin-strip {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
  font-size: 0.85rem;
}

.elmnrbtn{
  padding-bottom: 20px;
}

.eslogan {
  font-size: 1.2rem;
  margin: 10px 0;
  max-width: 90%;
}

.scroll-to-top {
  position: fixed;
  bottom: 100px; /* Ajusta este valor según la posición del carrito */
  right: 20px;
  z-index: 1100; /* Asegura que esté sobre otros elementos */
  background-color: #ff8fa3;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
}


.scroll-to-top:hover {
  color: white;
  background-color: #4e2c2a;
}

